:root {

    --cor-de-fundo:#ccc;
    --gradiente-e-pl-fundo: rgba(23, 24, 53, 1);
    --gradiente-d-pl-fundo: rgba(44, 38, 85, .5);
    --sombra-borda:#000;
    --cor-donte-cabecalho:#fff;
    --cor-da-fonte-inf:#ccc;
    --sublinhado-texto:#0d5ee6;
    --fonte-preenchimento-texto:#fff;
    --preenchimento-botao:#0d5ee6;
    --fonte-texto-botao:#fff;
    --preenchimento-caixa-de-mgm:#fff;
    --fonte-texto-caixa-de-mgm:#ccc;
    --preenchimento-do-campo:rgba(255, 255, 255, .3);




    






}